table
{
    border-collapse:collapse;
    & tr, & td, & th
    {
        border:1px solid var(--blue1);
        border-collapse:collapse;
    }
    & th
    {
        background:var(--blue2);
        color:var(--light);
    }
    & td, & th
    {
        padding:0.3rem 0.3rem;
    }
    & a
    {
        text-decoration:none;
    }

}
th
{
    text-align:left;
}

@media (max-width:1023px)
{
    table
    {
        th
        {
            display:none;
        }
        tr, td
        {
            border:none;
            padding:0;
            display:block;
        }
        tr
        {
            margin-bottom:2rem;
        }
        td.blog_item-tags, td.blog_item-date
        {
            font-size:0.8em;
        }
    }
}
