.dl_items
{
    font-size:1.2em;
    li
    {
        display:flex;
    }
    a
    {
        display:block;
        width:100%;
        text-decoration:none;
        padding:0.2em 0em;
    }
    .dl_dirs a
    {
        &:before
        {
            display:inline-block;
            font-size:1.4em;
            text-align:center;
            width:3rem;
            content:' 🗀 ';
        }
    }
    .dl_files a
    {
        &:before
        {
            display:inline-block;
            font-size:1.4em;
            text-align:center;
            width:3rem;
            content:' 🗎 ';
        }
    }
}
@media (max-width:1023px)
{

    .dl_items
    {
        font-size:1.2em;
    }
