:root
{
    --light:#ffffff;
    --dark:#232c33;
    --blue1:#a7adc6;
    --red:#773838;
    --blue2:#384e77;
}

a
{
    color:var(--red);
}
body
{
    font-family:Arial, Verdana, sans-serif;
    margin:0;
    font-size:17px;
    background:var(--light);
    color:var(--blue2);
}

h1, h2, h3, h4, h5, h6, p, ul, li
{
    margin:0;
    padding:0;
}
h3
{
    margin:30px 0 20px 0;
    padding:10px 15px;
    background: var(--blue2);
    color: var(--light)
}
header
{
    background:var(--blue2);
    color:var(--light);
    text-align:center;
    padding:1rem 1rem;
    letter-spacing:0.05em;
    & p
    {
    }
    & a
    {
        color:var(--light);
        text-transform:uppercase;
        display:block;
        text-decoration:none;
    }
}

nav
{
    & ul
    {
        list-style:none;
        display:flex;
        justify-content:center;
        background:var(--blue1);
        margin-bottom:2rem;
    }
    & a
    {
        color:var(--blue2);
        display:block;
        padding:1rem 1rem;
    }
    & li
    {
        display:block;
        text-align:center;
    }
}

h2
{
    margin:0 0 1.5rem 0;
    border-bottom:4px solid;
    padding-bottom:0.2rem;
    & a
    {
        padding:1rem 0;
        color:var(--blue2);
        text-decoration:none;
    }
}
.main_section
{
    padding:0rem 2rem 3rem 2rem;
    background:white;
    padding:15px;
    max-width:1300px;
    margin:auto;
    & p
    {
        line-height:1.6em;
        padding-bottom:1em;
    }
    & ul
    {
        list-style:square inside;
        padding-bottom:1em;
    }
}
.blog_grid
{
    display:grid;
    grid-template-columns:1fr 350px;
    gap:20px;
    grid-template-areas:content mastodon;
    .mastodon_items
    {
        background:var(--blue1);
        padding:15px;
        article
        {
            border-bottom:2px solid var(--blue2);
            padding-top:10px;
            padding-bottom:10px;
        }
    }
    .mastodon_link
    {
        display:inline-block;
        background:var(--blue2);
        color:white;
        padding:3px 10px;
        text-decoration:none;
        border-radius:4px;
    }
}
pre {
    background:black;
    color:white;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
footer
{
    display:flex;
    gap:1rem 3rem;
    flex-wrap:wrap;
    justify-content:center;
    background:var(--blue1);
    padding:1rem 2rem;
    & ul
    {
        list-style:none;
        gap:3rem;
        display:flex;
    }
    & a
    {
        display:inline-block;
    }
}
@media (max-width:1023px)
{
    .blog_grid
    {
        display:grid;
        grid-template-columns:1fr;
        gap:0px;
    }
}

