{% extends 'base.html.twig' %}

{% block title %}Ezarpenak{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ezarpenak</h1>

    <ul>
        <li><a href="{{ path('app_news_new') }}">Bloga artikulu berri bat</a>
        <li><a href="{{ path('app_tag_index') }}">Etiketak aldatu</a>
    </ul>
</div>
{% endblock %}
