{% extends 'base.html.twig' %}

{% block rss %}<link rel="alternate" type="application/rss+xml" title="" href="{{ path('app_news_rss') }}" />{% endblock %}



{% block content %}

    {% if section is defined %}
    <h2>{{ section }}</h2>
    {% endif %}

    <div class="blog_grid">
        <div class="blog_items">
            {% for item in items %}
            <div class="blog_item_list-container">
                <div class="blog_item_list">

                    <div class="blog_item_list-image">
                        {% if item.getImage() is not null %}
                            <img src="{{ asset(conf.get('blog_directory') ~ '/' ~ item.image) }}" />
                        {% endif %}
                    </div>

                    <div class="blog_item_list-content">

                        <div class="blog_item_list-header">
                            <p class="blog_item_list-date">{{ item.getDate()|date("Y/m/d") }}-ean</p>
                        </div>
                        <h2><a href="{{ path('app_news_show', { url: item.getUrl() } )}}">{{ item.getNom() }}</a></h2>


                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_news_edit', { id: item.id }) }}">Editatu artikulua</a>
                        {% endif %}

                        <div class="blog_item-teaser">
                            {% if item.getTiny() %}
                                {{ item.getTiny()|raw }}
                            {% endif %}
                        </div>

                        {% if hide_tags is not defined %}
                            <p class="blog_item-tags">
                            Tags: 
                            {% for tag in item.getTags() %}
                            <a href="{{ path('app_news_tag', {tag: tag.getName() }) }}">{{ tag.getName() }}</a>
                            {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="mastodon_items">
            <h2>Mastodon feed</h2>
            {% for item in mastodon_items %}
            <article>
                {{ item.description|raw }}
                <a class="mastodon_link" href="{{ item.link }}" target="_blank">Ireki mastodon.eus-en </a>
            </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}
