{% extends 'base.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block body %}
    <h1>Edit News</h1>

    {% if news.image is not null %}
        <img height="300px" src="{{ asset(conf.get('blog_directory') ~ '/' ~ news.image) }}" />
    {% endif %}
    {{ include('news/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_news_index') }}">back to list</a>

    {{ include('news/_delete_form.html.twig') }}
{% endblock %}
