<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title|default('') }} - tfe-ren webgunea{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=yes"/>
        {% block headers %}
        {% endblock %}

        {% block rss %}{% endblock %}
        {% block canonical %}<link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />{% endblock %}

        {% if robots is defined %}
            <meta name="robots" content="{{ robots }}">
        {% endif %}
        {% for css_item in conf.get('css') %}
            <link type="text/css" rel="stylesheet" href="{{ 'http' in css_item ? css_item : asset('css/' ~ css_item) }}?x2" />
        {% endfor %}

        {% if extra_css is defined %}
            {% for css_item in extra_css %}
                <link type="text/css" rel="stylesheet" href="{{ 'http' in css_item ? css_item : asset('css/' ~ css_item) }}?x2" />
            {% endfor %}
        {% endif %}
    </head>
    <body>
        <div class="page">
            <header>
                <h1><a href="{{ path('app_news_index') }}">{{ conf.get('site_name') }}</a></h1>
                <p>{{ conf.get('site_subname') }}</a></p>
            </header>

            {% block menu %}
            <nav>

                <div class="menu" id="menu">
                    <ul class="main_menu" id="main_menu">
                        <li><a class="selected" href="{{ path('app_news_index') }}">Bloga</a></li>
                        <li><a href="{{ path('app_news_archives') }}">Artxiboak</a></li>
                        <li><a href="{{ path('download_root', {}) }}">Fitxategiak</a></li>
                    </ul>
                </div>
            </nav>
            {% endblock %}
            <div class="main_section">
                {% block content %}{% endblock %}
                {% block body %}{% endblock %}
            </div>
            <footer>
                <p><a href="http://www.vim.org/">vim</a>-ekin, <a href="http://www.php.net">php</a>-ekin eta <a href="http://httpd.apache.org">apache2</a>-ekin egina</p>
                <ul>
                    {% for link in conf.get('contact_links') %}
                    <li><a target="_blank" href="{{ link.url }}">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
                <ul>
                    <li><a href="{{ path('app_news_index', { 'rss':1}) }}">RSS</a></li>
                </ul>
            </footer>
            {% if extra_js is defined %}
                {% for js_item in extra_js %}
                    <script defer src="{{ asset('js/' ~ js_item) }}?x2"></script>
                {% endfor %}
            {% endif %}
        </div>
        <a style="display:none" class="h-card u-url" href="https://tfe.eus/">
        <img src="https://tfe.eus/download/images/pingu/pingu.jpg/" alt="" style="display:none" />Tfe</a>
    </body>
</html>
