<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="{{ asset('xsl/rss-style.xsl') }}" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">

    <title>{% block title %}{{ title }} - tfe-ren webgunea{% endblock %}</title>
    <link>{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}</link>
    <author><name>tfe</name></author>
    {% block content %}{% endblock %}
</feed>
